.getstarted{
  width: 40%;
  /* height: 580px; */
  height: auto;
  border-style: solid;
  border-color: whitesmoke;
   border-width: 0.1px;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   margin: auto;
  text-align: center;
  margin-top: 2%;
  background-color: #FBF8FD;
  padding: 2%;
  margin-bottom: 2%;
}

.but{
    /* background-color: red; */
    width: 100%;
    text-decoration: none;
    /* padding: px; */

    color:black
    
}
.but:hover{
    background-color: white;
    border-radius: 10px;
    color: black;

}
.butactive{
    background-color: white;
    border-radius: 10px;
    color: black;
}

.getlinks{
    /* padding: 10px; */
    width: 80%;
    background-color:#E4E4E4;
    border-radius: 10px;
    display: flex;
    margin: auto;
    text-align: center; 
    margin-bottom: 10%;
    margin-top: 5%; 
    border-style: solid;
    border-width: 0.5px; 
    border-color: #E4E4E4;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    margin: auto;
    text-align: center;
}
.curr{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

.sign{
    background-color: #7C20BF;
    color: white;
    padding: 5px;
    height: 40px;
    border-radius: 4px;
    border-style: none;
}

.datas{
    border-radius: 5px;
    height: 40px;
    border-style: solid;
    border-width: 0.5px; 
    border-color: #E4E4E4;
}
.getanchor{
    color: #7C20BF;
}

.coin{
    text-align: left;
}
.ngn{
    width: 20%;
    border-style: none;
}
.ngnn{
    width: 80%;
    border-style: none;
}
.amo{
    border-style: solid;
    border-width: 0.5px; 
    border-color: #E4E4E4;
    border-radius: 5px;
}
.continue{
    width: 80%;
}
.logg{
    margin-top: 20%;
    margin-bottom: 5%;
}
.forgot{
    display: flex;
    width: 80%;
    margin: auto;
    text-align: center;
    justify-content: space-between;
}
.rem{
    margin-bottom: 15%;
}
.new{
    margin-top: 10%;
}
.anchor{
    color: #7C20BF;
}

